#Ignore Invironment files
pyenv/
#Jupyther Notebooks
**/*.ipynb
#ignore Spyder files
.spyproject
# Byte-compiled / optimized / DLL files
__pycache__# Byte-compiled / optimized / DLL files
__pycache__/
#ignore log files
*.log
